

<!DOCTYPE html>
<html>
	<body>
    <h1>Home page</h1>
      <form action="{{ url_for("dashboard")}}" method="post">
      <p><input type="text" name="q1" placeholder="Question 1"></p>
      <p><input type="text" name="q2" placeholder="Question 2"></p>
      <p><button type="submit">Submit</button></p>
      </form>
      <div class='container'>
      <h3>Translate</h3>
          <form>
              <a href=# id=lt><button class='btn btn-default'>Translate to German</button></a>
          </form>
      <h3>Convert Text to Speech</h3>
          <form>
              <a href=# id=test><button class='btn btn-default'>Text to speech</button></a>
          </form>
      </div>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script type=text/javascript>
              $(function() {
                $('a#test').on('click', function(e) {
                  e.preventDefault()
                  $.getJSON('/background_process_test',
                      function(data) {
                    //do nothing
                  });
                  return false;
                });
              });
      </script>
      <script type=text/javascript>
              $(function() {
                $('a#lt').on('click', function(e) {
                  e.preventDefault()
                  $.getJSON('/lt_process',
                      function(data) {
                    //do nothing
                  });
                  return false;
                });
              });
      </script>
	</body>
</html>
