{% extends "layout.html" %}
{% block content %}
    <section class="pb-5 header text-center" >
                <header class="pb-4">
                    <h1 class="display-4">All Surveys</h1>
                </header>
            <div class="row">
            {% for survey in surveys %}
                      <div class="col-sm-5">
                        <div class="card effect-5">
                          <div class="card-body p-5">
                            <h2 class="h5"><a class="article-title" href="{{ url_for('survey', survey_id=survey.Survey.id) }}">{{ survey.Questions.topic }}</a></h2>
                            <p class="font-italic text-muted">{{ survey.Questions.q1 }}</p>
                            <p class="font-italic text-muted">{{ survey.Questions.q2 }}</p>
                            <p class="font-italic text-muted">{{ survey.Questions.q3 }}</p>
                          </div>
                        </div>
                      </div>
            {% endfor %}
            </div>
    </section>

    <form>

{% endblock content %}
