<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">QDAS using IBM Cloud</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('create_survey') }}">Survey</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="pb-5 header text-center" style="text-align:center;">
          <div class="container py-5">
                <header class="pb-4">
                    <h1 class="display-4">Dashboard</h1>
                    <p class="font-italic text-muted mb-1">A list of all surveys</p>
                </header>
            <div class="row">
            {% for survey in surveys %}
                      <div class="col-sm-5">
                        <div class="card effect-5">
                          <div class="card-body p-5">
                            <h2 class="h5"><a class="article-title" href="{{ url_for('survey', survey_id=survey.Survey.id) }}">{{ survey.Questions.topic }}</a></h2>
                            <p class="font-italic text-muted">{{ survey.Questions.q1 }}</p>
                            <p class="font-italic text-muted">{{ survey.Questions.q2 }}</p>
                            <p class="font-italic text-muted">{{ survey.Questions.q3 }}</p>
                          </div>
                        </div>
                      </div>
            {% endfor %}
            </div>
          </div>
      </section>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
