<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<style media="screen">
	html {
	  width: 100%;
	  height: 100%;
	}
	body {
	  min-width: 100%;
	  min-height: 100%;
	}
	div.container {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	  width: 300px;
	  height: 200px;
	}
	.container form {
		padding: 10px 0 10px 0;
	}
	#submit {
			width: 200px;
	}
	.container form select{
		padding: 10px;
		width: 100%;
		background-color: #dedede;
	}
	.container form p{
		padding-top: 10px;
	}
	</style>
</head>
	<body>
	  <div class='container'>
			<h3>Choose survey language</h3>
				<form action="{{ url_for('index', survey_id = survey_id) }}" method="GET">
					<select name="language">
						<option class="btn btn-default" value="en">English</option>
						<option class="btn btn-default" value="es">Español</option>
						<option class="btn btn-default" value="pt">Português</option>
						<option class="btn btn-default" value="de">Deutsch</option>
						<option class="btn btn-default" value="ar">Arabic</option>
						<option class="btn btn-default" value="zh">Chinese</option>
						<option class="btn btn-default" value="ja">Japanese</option>
						<option class="btn btn-default" value="nl">Dutch</option>
						<option class="btn btn-default" value="it">Italian</option>
						<option class="btn btn-default" value="fr">French</option>
						<option class="btn btn-default" value="ko">Korean</option>
					</select>
					<p><input id="submit" class="btn btn-default" type="submit" value="Submit"/></p>
				</form>
			</div>
	</body>
</html>
