<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Audio Recorder</title>
    <!--addpipe.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style media="screen">
      body {
    position: absolute;
    top: 30%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: #d9fadc;
    }
    </style>
  </head>
  <body>
    <h1 id="surveyTitle" class="text-center" style="font-size: 70px; margin-bottom: 3em;">{{ topic.topic }} </h1>
    {% for question in questions %}
      <div id="container-{{loop.index}}" style="display: none;" class="text-center">
        <div style="border: solid 1px; padding: 30px; border-radius: 25px;">
          <p style="font-size: 30px;"><strong>{{ question }}</strong><img src="static/img/sound1.png" style="height:30px; width:30px; margin-left: 5px;" onclick="play({{ loop.index }})"></p>
          <audio id="audio"></audio>

          <div id="controls">
          <button id="recordButton_{{ loop.index }}" class="record" style="background: url('static/img/record.png') no-repeat; background-position: center; background-size: 30px 30px; height:40px; width:70px;"></button>
          <button id="pauseButton_{{ loop.index }}" class="pause" disabled style="background: url('static/img/pause.png') no-repeat; background-position: center; background-size: 30px 30px; height:40px; width:70px;"></button>
          <button id="stopButton_{{ loop.index }}" class="stop" disabled style="background: url('static/img/stop.png') no-repeat; background-position: center; background-size: 30px 30px; height:40px; width:70px;"></button>
          </div>
        </div>
        <p><strong>Recorded response:</strong></p>
        <ol id="recordingsList_{{ loop.index }}"></ol>
      </div>
    {% endfor %}
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const lang = urlParams.get('language')
      var allAudio = document.getElementsByTagName("audio");
      var allRecordButtons = document.getElementsByClassName("record");
      var allPauseButtons = document.getElementsByClassName("pause");
      var allStopButtons = document.getElementsByClassName("stop");

      for (var i=0, max=allAudio.length; i < max; i++) {
        allAudio[i].setAttribute('src', '{{ dir }}' + lang + '0' + i.toString() + '.mp3');
        allAudio[i].setAttribute('id', 'audio' + i.toString())
      }
      function play(idx) {
        ctr = idx - 1
        var audio = document.getElementById("audio" + ctr.toString());
        audio.play();
      }

    </script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
