{% extends "layout.html" %}
{% block content %}

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>

<script>
  anychart.onDocumentReady(function() {
      var data = [
      {% for key, value in k_data.items() %}
          {% if value is string %}
            ['{{ key }}', '{{ value }}'],
          {% else %}
            ['{{ key }}', {{ value }}],
          {% endif %}
      {% endfor %}
      ]
      var chart = anychart.tagCloud(data);
      chart.title('Most frequent keywords')
     // set an array of angles at which the words will be laid out
     chart.angles([0])
     // enable a color range
     chart.colorRange(false);
     // set the color range length
     chart.colorRange().length('80%');

     // display the word cloud chart
     chart.container("word_cloud");
     chart.background().fill({
        keys: ["#f2f2f2"]
      });

      chart.background().stroke("1.5 grey");

     chart.draw();
  });
</script>
<script type="text/javascript">

  anychart.onDocumentReady(function() {
    chart = anychart.cartesian();

    data = {{ overall_data|safe }}


    // add a marker seris
    chart.bubble(data);

    // set chart title
    chart.title("Bubble chart according to relevance and frequency of Keywords");

    // set axes titles
    chart.xAxis().title("Keyword");
    chart.yAxis().title("Frequency");
    chart.background().stroke("1.5 grey");
    chart.background().fill({
       keys: ["#f2f2f2"]
     });
    // draw
    chart.container("bubble_chart");
    chart.draw();
  });
</script>
<script type="text/javascript">
  ents = {{ entities_dict|safe }}
  anychart.onDocumentReady(function () {

    var dropdown = document.getElementById("typeSelect");
    var val = dropdown.value;

    console.log(ents)

    var vals = ents[val]

     var arrayLength = vals.length;
     children = []

     for (var i = 0; i < arrayLength; i++) {
         console.log(vals[i]);
         //Do something
         children.push({value: vals[i], fontColor: "#1976d2"})
     }

    var data = [
    ];

    data.push({value:     val, fontColor: "#dd2c00",
           children: children
         })
    //let result = data.map(a => a.children);

    var chart = anychart.wordtree(data, "as-tree");

    // set the chart title
    chart.title("Entities found in participant responses");

    // set the container id
    chart.container("word_tree");

    // initiate drawing the chart
    chart.draw();

});

function switchType() {
   var e = document.getElementById("typeSelect");
   var selected_value = e.options[e.selectedIndex].value;
   element = document.getElementById("word_tree");

   var vals = ents[selected_value]

    var arrayLength = vals.length;
    children = []

    for (var i = 0; i < arrayLength; i++) {
        console.log(vals[i]);
        //Do something
        children.push({value: vals[i], fontColor: "#1976d2"})
    }

   anychart.onDocumentReady(function () {
     var ents = {{ entities_dict|safe }}
     var dropdown = document.getElementById("typeSelect");
     var val = dropdown.value;

     var data = [
     ];

     data.push({value:     val, fontColor: "#dd2c00",
            children: children
          })
     //let result = data.map(a => a.children);

     // create a chart and set the data
     if (element) {
    // Get its parent
        parent = element.parentNode;

        // Create the new element
        newElement = document.createElement('div');

        // Set its ID and content
        newElement.id = "word_tree";
        newElement.setAttribute("style", "width: 1000px; height: 500px;")

        // Insert the new one in front of the old one (this temporarily
        // creates an invalid DOM tree [two elements with the same ID],
        // but that's harmless because we're about to fix that).
        parent.insertBefore(newElement, element);

        // Remove the original
        parent.removeChild(element);
    }

     var chart = anychart.wordtree(data, "as-tree");

     // set the chart title
     chart.title("Word Tree: Data (Tree)");

     // set the container id
     chart.container("word_tree");

     // initiate drawing the chart
     chart.draw();

 });
  }

</script>

<style media="screen">
  /* basic positioning */
  .legend { list-style: none; }
  .legend li { float: right; margin-right: 10px; }
  .legend span { border: 1px solid #ccc; float: left; width: 15px; height: 15px; margin: 2px; }
  /* your colors */
  .legend .entities { background-color: red; }
  .legend .cents { background-color: blue; }
</style>

<div class="container">
  <div class="jumbotron">
    {% for k in survey %}
      <h2 class="display-4">Keyword Analysis</h2>
      <h2 class="display-5">Most frequent keywords</h2>
      <div id="word_cloud" style="width: 1000px; height: 500px; margin-bottom:5px;"></div><br>
      <h2 class="display-5">Keyword frequency and their relevance score</h2>
      <div id="bubble_chart" style="width: 1000px; height: 500px;"></div><br>
      <h2 class="display-5">Entities found in responses</h2>
      <select id="typeSelect" onchange="switchType()">
        {% for key in entities_dict.keys() %}
          {% if loop.first %}
            <option selected="selected" value="{{ key }}">{{ key }}</option>
          {% else %}
            <option selected="selected" value="{{ key }}">{{ key }}</option>
          {% endif %}
        {% endfor %}
    </select>
    <ul class="legend">
      <li><span class="cents"></span>Corresponding Word(s)</li>
      <li><span class="entities"></span>Entities</li>
    </ul>
      <div id="word_tree" style="width: 1000px; height: 500px;"></div><br>
    {% endfor %}
    <h2 class="display-5">Relations found in responses</h2>
    <table id="data" class="table table-striped">
        <thead>
          <th>Relation</th>
          <th>Sentence</th>
        </thead>
        <tbody>
        {% for key, value in rel_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>
                {% for v in value %}
                  {{ v }}
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock content %}
