<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Audio Recorder</title>
    <!--addpipe.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Survey Form</h1>
    <p><strong>{{ questions.q1 }}</strong></p>
    <input type="button" value="Question" onclick="play()">
    <audio id="audio"></audio>

    <div id="controls">
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <p><strong>Recorded response:</strong></p>
    <ol id="recordingsList"></ol>

    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const lang = urlParams.get('language')
      if (lang == "de"){
        document.getElementById("my-audio").setAttribute('src', './static/audio/00-de.mp3');
      }
      else{
        document.getElementById("audio").setAttribute('src', './static/audio/00.mp3');
      }

      function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }
    </script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
