<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Audio Recorder</title>
    <!--addpipe.com -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Survey Form</h1>
    {% for question in questions %}
      <p><strong>{{ question }}</strong></p>
      <input type="button" value="Question" onclick="play({{ loop.index }})">
      <audio id="audio"></audio>

      <div id="controls">
       <button id="recordButton">Record</button>
       <button id="pauseButton" disabled>Pause</button>
       <button id="stopButton" disabled>Stop</button>
      </div>
      <p><strong>Recorded response:</strong></p>
      <ol id="recordingsList"></ol>
    {% endfor %}
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script>
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const lang = urlParams.get('language')
      var allAudio = document.getElementsByTagName("audio");

      for (var i=0, max=allAudio.length; i < max; i++) {
        allAudio[i].setAttribute('src', '{{ dir }}' + lang + '0' + i.toString() + '.mp3');
        allAudio[i].setAttribute('id', 'audio' + i.toString())
      }
      function play(idx) {
        ctr = idx - 1
        var audio = document.getElementById("audio" + ctr.toString());
        audio.play();
      }



    </script>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>
