{% extends "layout.html" %}
{% block content %}
    <div class="container h-100">
      <div class="row align-items-center h-100">
          <div class="col-6 mx-auto">
              <div class="jumbotron">
                {% for k in survey %}
                  <h2 class="display-4">{{ k.Questions.topic }}</h2>
                  <p class="h5">{{ k.Questions.q1 }}</p>
                  <p class="h5">{{ k.Questions.q2 }}</p>
                  <p class="h5">{{ k.Questions.q3 }}</p>
                {% endfor %}
              </div>
          </div>
      </div>
    </div>


{% endblock content %}
