{% extends "layout.html" %}
{% block content %}


<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load("current", {packages:["corechart"]});
     google.charts.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Tone', 'Frequence'],
        {% for key, value in ta_data.items() %}
    				{% if value is string %}
    					['{{ key }}', '{{ value }}'],
    				{% else %}
    					['{{ key }}', {{ value }}],
    				{% endif %}
  			{% endfor %}
       ]);

       var options = {
         title: 'General Tone Analysis made for this Survey',
         is3D: true,
         backgroundColor: '#e9ecef',
         titleTextStyle: {
            fontSize: 20,
            italic: true,
            bold: false
        },
        legend: {position: 'bottom', textStyle: {fontSize: 20}}
       };

       var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
       chart.draw(data, options);

       $("text:contains(" + options.title + ")").attr({'x':'300', 'y':'60'})
     }
</script>
<script>
  anychart.onDocumentReady(function() {
      var data = [
      {% for key, value in k_data.items() %}
          {% if value is string %}
            ['{{ key }}', '{{ value }}'],
          {% else %}
            ['{{ key }}', {{ value }}],
          {% endif %}
      {% endfor %}
      ]
      var chart = anychart.tagCloud(data);
      chart.title('Most frequent keywords')
     // set an array of angles at which the words will be laid out
     chart.angles([0])
     // enable a color range
     chart.colorRange(false);
     // set the color range length
     chart.colorRange().length('80%');

     // display the word cloud chart
     chart.container("word_cloud");
     chart.background().fill({
        keys: ["#f2f2f2"]
      });

      chart.background().stroke("1.5 grey");

     chart.draw();
  });
</script>
<script type="text/javascript">

  anychart.onDocumentReady(function() {
    chart = anychart.cartesian();

    data = {{ overall_data|safe }}


    // add a marker seris
    chart.bubble(data);

    // set chart title
    chart.title("Bubble chart according to relevance and frequency of Keywords");

    // set axes titles
    chart.xAxis().title("Keyword");
    chart.yAxis().title("Frequency");
    chart.background().stroke("1.5 grey");
    chart.background().fill({
       keys: ["#f2f2f2"]
     });
    // draw
    chart.container("bubble_chart");
    chart.draw();
  });

</script>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="jumbotron">
            {% for k in survey %}
              <h2 class="display-4">{{ k.Questions.topic }}</h2>
              <p class="h5">{{ k.Questions.q1 }}</p>
              <p class="h5">{{ k.Questions.q2 }}</p>
              <p class="h5">{{ k.Questions.q3 }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <div class="jumbotron">
            {% for k in survey %}
              <h2 class="display-4"><a class="article-title" href="{{ url_for('responses', survey_id=k.Survey.id) }}">Responses</a></h2>
              <p>Number of submitted responses: {{ nr_responses + nr_convLeft }}</p>
              <p>Number of converted responses: {{ nr_responses }}</p>
              <p>Number of conversions left: {{ nr_convLeft }}</p>
              <form class="generateResponse mt-3" action="{{ url_for('survey', survey_id=k.Survey.id)}}" method="post">
                <p><button type="submit" class="btn btn-default border border-primary">Convert Responses to Text</button></p>
              </form>
            {% endfor %}
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="jumbotron">
            {% for k in survey %}
              <h2 class="display-4">Tone Analysis</h2>
              <div id="piechart_3d" style="width: 1000px; height: 500px;"></div>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          <div class="jumbotron">
            {% for k in survey %}
              <h2 class="display-4">Keyword Analysis</h2>
              <div id="word_cloud" style="width: 1000px; height: 500px; margin-bottom:5px;"></div>
              <div id="bubble_chart" style="width: 1000px; height: 500px;"></div>
            {% endfor %}
          </div>
      </div>
    </div>
{% endblock content %}
